.img1
{
height:150px;
width:100%;
}
body{
background-color:#F1F1F1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#cc7a00;
    
    top: 150px;
    width: 100%;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #804d00;
}

.active {
    background-color:#663300;
}
.div1
{

height:110px;
width:100%;
margin-top:30px;}
h1
{
border-left:6px solid red;
font-family:courier new;
}
.p1
{
margin-left:50px;
font-family:cursive;
font-size:20;
border-left:6px solid red;}

.slideshow-container {
padding-top:10px;
  width:100%;
  position: relative;
  margin: auto;
}
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color:#663300 ;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.div2
{
margin-top:70px;
font-family:times new roman;
height:800px;
width:100%;

}
.div3
{
padding-top:10px;
margin-top:50px;
height:450px;
width:700px;
background-color:#E4E6E1;
padding-left:10px;
}
input[type=text], select {
    width:500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width:400px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;}